* {
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  text-align: center;
  background-image: linear-gradient(50deg, #c21500, #ffc500);
  height: 100vh;
  color: #fff;
}

.App div {
  display: block;
  width: 50%;
  height: auto;
  margin: 20vh auto;
  position: relative;
}

.App h1 {
  padding-top: 5vh;
  font-size: 60px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.numbers {
  font-size: 200px;
}

input[type='text'] {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-bottom: 1px solid #fff;
  outline: none;
  font-size: 40px;
  text-align: center;
}
